<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio de Videos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Agrega estilos personalizados si es necesario -->
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bienvenido al Sitio de Videos</h1>
        <div class="">
            <a href="" class="btn btn-secondary btn-block"> Video Aleatorio </a>
        </div>
        <div class="row">
            <% videos.forEach(video => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= video.thumbnailPath %>" class="card-img-top" alt="<%= video.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= video.name %></h5>
                        <a href="<%= video.videoPath %>" class="btn btn-primary btn-block">Ver Video</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>