<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Video</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Reproduciendo Video</h1>
        <video width="100%" controls>
            <source src="<%= `/videos/${path.basename(videoPath)}` %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br>
        <a href="/" class="btn btn-secondary mt-4">Volver a la página principal</a>
    </div>
</body>